.price-list-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.price-list-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search-section {
    position: relative;
    gap: 10px;
}

input {
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #41c7dc;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    color: #41c7dc
}

.action-buttons {
    display: flex;
    gap: 10px;
}

.action-buttons button {
    padding: 10px 24px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    cursor: not-allowed;
}

.table-wrapper {
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow: auto;
    font-size: 14px;
    overflow-x: auto; 
    overflow-y: scroll;
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
}

table {
    min-width: 1200px;
    width: max-content;
}

td, th {
    max-width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    cursor: default;
}

td:hover, th:hover {
    overflow: visible;
    white-space: normal;
    z-index: 1;
    border-radius: 30px;
    background-color: #f9f9f9;
}

.cell-indicator {
    display: flex;
}

.cell-content {
    display: block;
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #a3d2da;
    border-radius: 30px;
    box-sizing: border-box;
}

.pagination {
    display: flex;
    justify-content: left;
    gap: 10px;
}

.pagination button {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 30px;
    background-color: #ffffff;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
}

.pagination button:hover {
    border-color: #abf4ff;
    box-shadow: #ccc;
}

.pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.pagination span {
    padding: 10px 20px;
    color: #000000;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .price-list-actions {
        flex-direction: column;
        align-items: left;
        gap: 10px;
    }

    .action-buttons button {
        padding: 8px 30px;
    }

    
    .action-buttons .text {
        display: none;
    }

    .action-buttons .icon {
        font-size: 20px;

    }
}