
.footer {
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: center;
    bottom: 0;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 12px;
  border-bottom: 1px solid #ffffff;
}

.footer-container > span:first-child {
  font-weight: bold;
  font-size: 18px;
}

.footer-list {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-list li {
  cursor: pointer;
  transition: color 0.2s;
}

.footer-list li:hover {
  color: #5e5e5e;
}

.footer > span:last-child {
  font-size: 12px;
  text-align: center;
  color: #ffffff;
}

@media (min-width: 768px) {
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .footer-list {
    justify-content: flex-end;
  }
}