.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2196f3;
    border: 2px solid rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 1.2rem;
    overflow: hidden;
}

@media (max-width: 1024px) {
    .avatar {
        display: none;
    }
}